:root {
    --primary: #6d28d9; /* Deep purple */
    --background-dark: #111827; /* Very dark blue-gray */
    --background-darker: #0d1117; /* Even darker, almost black */
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--background-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
    border: 2px solid var(--background-dark);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #8b5cf6; /* Lighter purple */
}